form {
    width: 650px;
}

form p {
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid #fff;
    background: linear-gradient(#fff,#6fc);
    -moz-background: linear-gradient(top,#fff,#6fc);
    -webkit-background: linear-gradient(top,#fff,#6fc);
}

form p span {
    display: inline-block;
    width: 160px;
    text-align: left;
    margin: 0;    
}

form p input {
    padding: 3px 6px;
    margin: 0;
    color: #666;
    border: none;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background: #fff;
    box-shadow: 2px 3px 5px -2px #ccc inset;
    -webkit-box-shadow: 2px 3px 5px -2px #ccc inset;
    -moz-box-shadow: 2px 3px 5px -2px #ccc inset;
}

form p label {
    padding: 4px;
}

form p input {
    padding: 4px;
}